.all {

}

.topbody {
    background-color: beige;
    height: 150px;
    position: sticky;
    top: 0px;
    position: sticky;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.title {
    text-align: center;
}

.inputgroup {
    margin-top: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input {
    width: 360px;
    height: 40px;
    font-size: 20px;
    margin-right: 5px;
}

.searchbtn {
    width: 70px;
    height: 45px;
    font-size: 15pt;
}

.mainbody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
}



.cardrow {
    margin: 15px auto  0px auto;
    display: flex;
    flex-direction: row;
}

.card {
    width: 450px;
    height: 250px;
    margin: auto 7px auto 7px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 1%;
    border: 0.5mm solid rgba(0, 0, 0, 0.150);

}

.imagesection {
    margin: auto auto auto 6px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.cardimage {
    width: 165px;
}

.textsection {
    margin: auto auto auto 0px;
    width: 250px;
    height: 300px;
}

.cardtitle {

    width: 250px;
    font-size: 15pt;
    margin: 10px auto auto 5px;
}

.cardtext {
    font-size: 11pt;
    width: 250px;
    position: relative;
    margin: 50px auto auto 5px;
}